<!DOCTYPE html>
<html>
<head>
  <title>Task Manager</title>
  <style>
    .done{
      background-color: grey;
      text-decoration: line-through;
    }
  </style>
</head>
<body class="<%= task.isDone == 0 ? '' : 'done' %>">
  <h1>Task Manager</h1>
  <p>Selamat datang, <%= user.name %></p>
  <a href="/v1/task">Kembali</a><br><br>
  <p id="pesan" style="display: none;"></p>
        <label for=""></label>
        <form action="/v1/task/<%= task.id %>?_method=PATCH" method="POST" onsubmit="return cekForm()">
          <input name="title" type="text" class="edit-task-title" value="<%= task.title %>">
          <br>
          <textarea name="description" cols="22" placeholder="Tambahkan catatan" rows="5"><%= task.description %></textarea>
          <br>
          <select name="priority" >
            <option value="0" <%= task.priority == 0 ? 'selected' : '' %>>High</option>
            <option value="1" <%= task.priority == 1 ? 'selected' : '' %>>Middle</option>
            <option value="2" <%= task.priority == 2 ? 'selected' : '' %>>Low</option>
          </select>
          <br>
          <button type="submit">Simpan Perubahan</button>
        </form>
        <ul type="none">
          <% task.subTasks.forEach(subtask => { %>
            <li style="display: flex">
              <form action="/v1/subTask/<%= subtask.id %>?_method=PATCH" method="POST">
                <input type="hidden" name="isDone" value="<%= subtask.isDone == 0 ? 1 : 0 %>">
                <button type="submit"><%= subtask.isDone == 0 ? 'Selesai' : 'Batalkan' %></button>
              </form>
              <form action="/v1/subTask/<%= subtask.id %>?_method=PATCH" method="POST">
                <input type="<%= subtask.isDone == 0 ? 'text' : 'hidden' %>" value="<%= subtask.title %>" name="title" <%= subtask.isDone == 0 ? '' : 'readonly' %>>
                <span style="text-decoration: line-through;"><%= subtask.isDone == 0 ? '' : subtask.title %></span>
                <button type="submit">Update</button>
              </form>
              <form action="/v1/subTask/<%= subtask.id %>?_method=DELETE" method="POST">
                <input type="hidden" name="taskId" value="<%= task.id %>">
                <button type="submit">Delete</button>
              </form>
            </li>
          <% }) %>
          <br>
          <form action="/v1/subTask/" method="POST">
            <input name="taskId" type="hidden" class="edit-task-title" value="<%= task.id %>">
            <input type="text" name="title"  placeholder="Add new subtask" autofocus>
            <button type="submit">Add subtask</button>
          </form>
        </ul>
        <br>
        <form action="/v1/task/<%= task.id %>?_method=PATCH" method="POST">
          <input id="done" type="hidden" name="isDone" value="<%= task.isDone == 0 ? 1 : 0 %>">
          <button type="submit"><%= task.isDone == 0 ? 'Tandai Selesai' : 'Kerjakan kembali' %></button>
        </form>
        with: <span class="users">
        <% task.users.forEach(taskUser => { %>
          <span class="user" data-user-id="<%= taskUser.userId %>"><%= taskUser.User.name %>
            <button class="remove-user">x</button>
          </span>
        <% }) %>
        </span>
        <select class="userSelect">
          <option value="">Add User</option>

        </select>

</body>
</html>
